services:
  # フロントエンド (Next.js)
  webrtc:
    build:
      context: .
      dockerfile: ./Docker/webrtc/Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ./webrtc:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
    depends_on:
      - signaling-server
    restart: unless-stopped

  # シグナリングサーバー (Rust)
  signaling-server:
    build:
      context: .
      dockerfile: ./Docker/signaling/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - RUST_LOG=info
    restart: unless-stopped

  # coturn:
  #   image: coturn/coturn
  #   container_name: coturn_server
  #   restart: unless-stopped
  #   ports:
  #     - "3478:3478"
  #     - "3478:3478/udp"
  #     - "5349:5349"
  #     - "5349:5349/udp"
  #     - "49160-49200:49160-49200/udp"
  #   command: ["--min-port=49160", "--max-port=49200"]
