# Dependencies
node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Next.js
.next
out
dist

# Production
build

# Misc
.DS_Store
*.pem

# Debug
*.log

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Testing
coverage
.nyc_output
